* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#code {
    flex: 1;
    overflow: hidden;
}
.wrapper {
    flex: 1;
}
.button-wrapper {
    display:flex;
    position: absolute;
    left: 450px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.button-wrapper>button {
    margin: 15px;
    padding: 10px;
}
.active {
    outline-color: skyblue;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
